.bottom_post > .icons,
.bottom_post > .feeds,
.bottom_post > .post_description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding: 0 10px;
}
.bottom_post img {
    margin: 0 5px;
}
.bottom_post > .feeds > img {
    width: 30px;
    border-radius: 50%;
}
.post_description > h4 {
    margin-right: 5px;
}
p {
    font-size: 13px;
}
P.date_post {
    margin-bottom: 10px;
    padding: 0 10px;
    color: var(--grey);
}