header.top_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
    background-color: var(--white);
    border-bottom: 1px solid var(--borderColor);
}
header .left,
header .center,
header .right {
    height: 100%;
}
header .left,
header .right {
    width: 30%;
    line-height: 55px;
}
header .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
header .right {
    display: flex;
    justify-content: flex-end;
}
img.logo {
    width: 120px;
    vertical-align: middle;
}

.top_header .icons {
    width: calc(100% - 35px);
}

.profile_img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35px;
}
.profile_img img{
    width: 100%;
    border-radius: 50%;
}