.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 100%;
}
.story_image {
    width: 60px;
    height: 60px;
    padding: 2px;
    border: 2px solid #D82B7E;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.story_image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.story > h5 {
    margin: 3px 0;
    font-size: 12px;
    font-weight: 400;
}