* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --headerHeight: 55px;
  --borderColor: #dbdbdb;
  --lightGrey: #fafafa;
  --grey: #8e8e8e;
  --white: #ffffff;
}
.container {
  display: flex;
  width: 60%;
  height: 100%;
  margin: auto;
}
.container.debug {
  background-color: red;
}
h4 {
  font-size: 13px;
}