* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --headerHeight: 55px;
  --carouselHeight: 100px;
  --borderColor: #dbdbdb;
  --lightGrey: #fafafa;
  --grey: #8e8e8e;
  --white: #ffffff;
  --blue: #0095f6;
}
.container {
  display: flex;
  width: 60%;
  height: 100%;
  margin: auto;
}
.container.debug {
  background-color: red;
}
h4 {
  font-size: 13px;
}
::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
}